body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    background-color: #8b004b;
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
}
footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

.brand {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 10px; 
    font-family: 'Arial', sans-serif;
    color: rgba(255, 255, 255, 0.5); 
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left; 
}

#contador {
    display: inline-block;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #8b004b;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba (0, 0, 0, 0.2);
    text-align: center;
    margin-top: 20px;
    max-width: 90%;
    word-wrap: break-word;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

img{
    width: 250px; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.counter {
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
}

@keyframes heartAnimation {
    0%{
        transform: scale(1);
        opacity: 1;
}
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

.heart {
    position: absolute;
    animation: heartAnimation 2s ease-in-out infinite;
    font-size: 30px;
    color: #FFB6C1;
    opacity: 0.7;
    pointer-events:none;
}

.heart:nth-child(1){
    top: 10%;
    left: 20%;
    animation-delay: 0s;
}

.heart:nth-child(2){
    top: 25%;
    left: 50%;
    animation-delay: 1s;
}

.heart:nth-child(3){
    top: 40%;
    left: 70%;
    animation-delay: 2s;
}

.heart:nth-child(4){
    top: 60%;
    left: 30%;
    animation-delay: 1.5s;
}

.heart:nth-child(5){
    top: 80%;
    left: 10%;
    animation-delay: 3s;
}

img:hover{
    transform: scale(1.05); 
}

#contador:hover{
    transform: scale(1.05);
}
